

.sidebar {
    /* background-color: var(--primary-color-reverse); */
    /* color: var(--primary-color-text); */
    transition: all 0.5s ease;    
    z-index: 1;    
    width: 200px; 
    height: 100%; 
    display: flex;
    flex-direction: column;
   
    
  }
  .sidebar-collapsed {
    width: 70px;
    /* background-color: var(--primary-color-reverse);  */
    /* color: var(--primary-color-text); */
    transition: all 0.5s ease-out;    
    z-index: 1; 
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .item-link {
    text-decoration: none;
    color: var(--text-color)
  }

  .item-link:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    box-shadow: 2px 0px 10px 1px rgba(140, 13, 224, 0.09) inset;
    border-color: var(--indigo-900);
    border-width: 3px;
    border-radius: 0.375rem;
  }

  .active {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    font-weight: bold;
    box-shadow: 2px 0px 10px 1px rgba(140, 13, 224, 0.09) inset;
    border-color: var(--indigo-900);
    border-width: 3px;
    border-radius: 0.375rem;

  }


